{{/* We use the 'blog' template for decision records and features.
This is borrowed and modified from Docsy's /layouts/blog/list.html */}}

{{ define "main" }}
{{ if .Parent.IsHome }}
{{ $.Scratch.Set "blog-pages" (where .Site.RegularPages "Section" .Section) }}
{{ else }}
{{$.Scratch.Set "blog-pages" .Pages }}
{{ end }}

<div class="row">
	<div class="col-12">
		{{- if .Pages -}}
		{{ $pag := .Paginate (( $.Scratch.Get "blog-pages").GroupByDate "2006")}}
		<h2>{{ .Title }}</h2>
		<p>{{ .Content }}</p>
			{{ range $pag.PageGroups }}
			<ul class="list-unstyled mt-4">
				{{ range .Pages }}
				<li class="media mb-4">
					<div class="media-body">
						<h3 class="mt-0 mb-1"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
						{{ partial "featured-image.html" (dict "p" . "w" 250 "h" 125 "class" "float-left mr-3 pt-1 d-none d-md-block") }}
						<p class="pt-0 mt-0">{{ .Plain | safeHTML | truncate 250 }}</p>
					</div>
				</li>
				{{ end }}
			</ul>
			{{ end }}
		{{ end }}
	</div>
</div>
<div class="row pl-2 pt-2">
	<div class="col">
		{{ if .Pages }}
			{{ template "_internal/pagination.html" . }}
		{{ end }}
	</div>
</div>
{{ end }}