<div class="td-content">
	<h1>{{ .Title }}</h1>
	{{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}
	<header class="article-meta">
		{{ partial "taxonomy_terms_article_wrapper.html" . }}

        {{/* This template is copied from the equivalent Docsy, except for the following line added:  */}}
        {{ $extUrls := ($.Param "extUrls") }}
        <div class="taxonomy taxonomy-terms-article">
            {{ if $extUrls }}
            <h5 class="taxonomy-title">Links:</h5>
            <ul>
                {{ range $extUrls}}<li><a class="" href="{{ . }}">{{ . }}</a></li>{{ end }}
            </ul>
          </div>
          {{ end }}
        {{/* End */}}

		{{ if (and (not .Params.hide_readingtime) (.Site.Params.ui.readingtime.enable)) }}
			{{ partial "reading-time.html" . }}
		{{ end }}
	</header>    
	{{ .Content }}
	{{ if (and (not .Params.hide_feedback) (.Site.Params.ui.feedback.enable) (.Site.GoogleAnalytics)) }}
		{{ partial "feedback.html" .Site.Params.ui.feedback }}
		<br />
	{{ end }}
	{{ if (.Site.Params.DisqusShortname) }}
		<br />
		{{ partial "disqus-comment.html" . }}
	{{ end }}
	{{ partial "page-meta-lastmod.html" . }}
</div>