+++
title = "Crossref Engineering"
linkTitle = "Crossref Engineering"
description = "How Crossref builds Open Scholarly Infrastructure in the open"
+++

{{< blocks/cover title="Engineering at Crossref BETA" height="full" image_anchor="top" height="min" >}}
<div class="mx-auto">
	<p class="lead"><strong>
		Building 
		<a href="https://openscholarlyinfrastructure.org/">Open Scholarly Infrastructure</a> in the open!</strong></p>
	<p>
		All of our new code, bug tracking and developer documentation is open source.
		Here's everything you need to know to contribute to, or just understand, our software.</p>
	<p>
		<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Engineering Guide <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/living-documentation" >}}">
		Living Documentation <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	</p>
	<p>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/decision-records" >}}">
		Decision Records <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/source" >}}">
		Source Code <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/issue-tracker" >}}">
		Issue tracker <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
</p>
</div> 
<p style="text-align: right; font-size:medium; width: 100%">
	Background image: <a target="_blank" rel="noopener noreferrer" href="https://www.flickr.com/photos/52365139@N05/9223287050">Wang 700 Advanced Programmable Calculator</a>" by <a target="_blank" rel="noopener noreferrer" href="https://www.flickr.com/photos/52365139@N05">dvanzuijlekom</a> is licensed under <a target="_blank" rel="noopener noreferrer" href="https://creativecommons.org/licenses/by-sa/2.0/?ref=openverse">CC BY-SA 2.0 <img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" style="height: 1em; margin-right: 0.125em; display: inline;"></img><img src="https://mirrors.creativecommons.org/presskit/icons/by.svg" style="height: 1em; margin-right: 0.125em; display: inline;"></img><img src="https://mirrors.creativecommons.org/presskit/icons/sa.svg" style="height: 1em; margin-right: 0.125em; display: inline;"></img></a>.
</p>

{{< /blocks/cover >}}

{{% blocks/section type="row"  color="white" %}}

{{% blocks/feature icon="fa-cog" title="REST API Documentation" url="https://api.crossref.org/" %}}
<p>If you're a developer who wants to use our APIs, see our official documentation</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-book" title="Crossref Documentation" url="https://www.crossref.org/documentation/" %}}
<p>Documentation of all of Crossref's services.</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-book" title="Crossref Blog" url="https://www.crossref.org/categories/engineering/" %}}
<p>Blog posts from the software development team</p>
{{% /blocks/feature %}}


{{% /blocks/section %}}
